nav{
    background-color: #121413;
    width: 100%;;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position:sticky;
    top:0px;
}
body{
    margin: 0;
    padding: 0;
}
.pic img{
    width: 80px;
    margin-left: 30px;
    height:80px;
    border-radius: 20px;
    
    
}
.menu i{
    
    font-size: 40px;
    position: absolute;
    right:50px;
    top:20px;
    
    padding: 5px;
    border-radius: 10px;;
    background-color: yellow;
    color:black;
    
}
.menu i:hover{
    background-color: black;
    color:aliceblue;
    border: white;
}.items{
    border: 1px solid transparent;
    display: none;
    flex-direction: column;
    gap:30px;
    width:100%;
    align-items: center;
    background-color: rgba(3, 0, 4, 0.927);
}
.items a{
    font-size:24px;
    border: 0.5px solid black;
    color: white;
    text-decoration: none;
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.items a:hover{
    text-decoration: underline;
    color: yellow;
}
body{
    background: black;
}
footer{
    background-color: rgb(71, 70, 70);
    color: rgb(233, 228, 228);
    padding: 20px;
    margin-top: 10px;
    text-align: center;
}
footer h1{
    font-family: 'Courier New', Courier, monospace;
    color: yellow;

}
footer p{
    font-size: 20px;
    cursor: cell;
    

}