body{
    padding: 0px;
    margin: 0px;
    color: white;
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
section{
    display: flex;
    
    
    justify-self: center;
    flex-direction: column;
    align-items: center;
    

}
.main{
    border: 0.5px solid rgb(32, 31, 31);
    border-radius: 30px;;
    width:500px;
    height:300px;
    position: relative;
    text-align: center;
    top:200px;
    left:50px;
    background-color: black;
    
    
}
.first button{
    width:130px;
    height:40px;
    padding: 10px;
    font-size:16px;
    border-radius: 10px;
    background-color: black;
    color: yellow;
    position: absolute;
    right: 20px;
    top:10px;
}
.pic img{
    width:100px;
    border-radius: 20px;
    height:100px;
    position: relative;
    top:20px;
}.india p{
    font-size: 20px;
    font-weight: bold;
    

}.enter button{
    width: 150px;
    height: 50px;
    color: black;
    font-size: 20px;
    background-color: yellow;
    border-radius:10px;
}
.enter button:hover{
    background: white;
    color: black;
}.lang p{
    font-size: 17px;
    
}
.copy p{
    color: white;
    text-align: center;
    font-size: 15px;
    position: relative;
    left:80px;
    top:200px;
}
a{
    transition: all 2s;
}
@media (max-width:450px) {
    .main{
        width:100%;
        height: 100%;padding:1px;

        text-align: center;
    }
    
}